.card-portfolio {
  display: flex;
  justify-content: space-between;
  height: 190px;
  border-radius: 5px;
  transition: 0.5s ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  padding: 20px;
  img {
    height:  150px;
    width:  150px;
    object-fit: cover;
    border-radius: 5px;
    margin-left: 10px;
  }
  .portfolio-button {
    width: fit-content;
    border-radius: 5px;
    padding: 5px 40px;
    min-width: 200px;
    text-align: center;
    background: $lavander-light;
    transition: 0.5s ease;
    opacity: 0;
    &:hover {
      background: $lavander-extra-light;
    }
  }
  .profile {
    width: 70%;
    padding-left: 20px;
    border-left: 1px solid $aubergine;
    display: flex;
    justify-content: space-between;
  }
  .portfolio-text {
    width: 70%;
    padding-left: 20px;
    border-left: 1px solid $aubergine;
    max-height:  150px;
    overflow-y: scroll;
  }
  .artworks {
    width: 70%;
    padding-left: 20px;
    border-left: 1px solid $aubergine;
    display: flex;
    flex-direction: row-reverse;
    overflow-x: scroll;
  }
  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    .portfolio-button {
      opacity: 1;
    }
  }
}
