// Specific CSS for your home-page

// Homepage cards
.homepage-card {
  width: 97%;
  height: 350px;
  color: $white;
  background-color: $aubergine;
  border-radius: 5px;
  margin-top: 10px;
  img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
  }
}

// Main container
.homepage-container {
  position: relative;
  z-index: -1;
  margin: 0 auto;
  padding-left: 5px;
  width: 100%;
  height: 100vh;
  display: flex;
  background: linear-gradient(to top, #000, #fff);
  overflow: hidden;
}

// Cards container, one columns + top margins
.homepage-col {
  position: relative;
  z-index: 1;
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.top-20 {
  top: -20px;
}

.top-120 {
  top: -120px;
}

.top-200 {
  top: -200px;
}

.top-150 {
  top: -150px;
}

.top-90 {
  top: -90px;
}

// Logo and button, on top of everything else
.homepage-logo {
  position: absolute;
  z-index: 10;
  margin: 40px 0 0 70px;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  img {
    width: 130px;
    margin-bottom: 14px;
  }
}

.wrapper-btns {
  position: absolute;
  z-index: 10;
  margin: 71vh auto;
  color: #fff;
  align-self: center;
  text-align: center;
}

.homepage-btn{
  transition: opacity 5s ease;
  top: 10px;
  opacity: 1;
  cursor: pointer;
  h1 {
    margin-bottom: 30px;
    color: #fff;
  }
  &:hover {
    h1 {
      color: #fff;
    }
    text-shadow: #c2bca9 0px 0px 6px;
    transform: translateY(-3px);
    transform: scale(1.03);
    transition: transform 1s ease-in-out;
  }
}

.login-signup-box {
  position: relative;
  top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
  opacity: 0;
  transition: opacity 1s ease;
  transition: top 1s ease;
  a {
    color: #fff !important;
    h2 {
      color: #fff !important;
    }
    &:hover{
      h2 {
        color: #fff !important;
      }
      transform: translateY(-3px);
      transform: scale(1.03);
      transition: transform 1s ease-in-out;
      text-shadow: #c2bca9 0px 0px 6px;
    }
  }
}

.signup-btn {
  display: flex;
  gap: 30px;
  h2 {
    color: white;
    &:hover {
      color: white;
    }
  }
}

.login-btn {
  display: flex;
  gap: 30px;
  h2 {
    color: white;
    &:hover {
      color: white;
    }
  }
}

// Veil
.purple-veil {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top, #000, #16003dae, #16003d48);
}

// Black veil and black wrapper
.black-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 500px;
  overflow: hidden;
}

.black-veil {
  position: absolute;
  top: 0;
  // left: 0;
  z-index: 4;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top, #000, #000);
  opacity: 0;
  transition: opacity 1s ease-in-out;
}


// Responsive
@media (max-width: 800px) {
  .homepage-container {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .homepage-col {
    width: 33.33%;
  }

  .homepage-card {
    margin-top: 8px;
  }
}

@media (max-width: 540px) {
  .homepage-container {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .homepage-col {
    width: 50%;
  }

  .homepage-card {
    height: 250px;
    margin-top: 6px;
    img {
      height: 250px;
    }
  }

  .homepage-logo {
    margin: 20px 0 0 20px;
    img {
      width: 90px;
    }
  }

  .login-signup-box {
    top: 50px;
    width: 220px;
    padding: 0;
    margin: 0 auto;
  }

  .signup-btn{
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    gap: 70px;
    h2{
      rotate: 90deg;
    }
  }

  .login-btn{
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 50px;
    h2{
      rotate: 270deg;
    }
  }
}
