.container-artist-bio {
  display: flex;
  margin: 35px auto;
  align-items: center;

  .avatar {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 70px;
  }
  .bio {
    width: 100%;
    h2 {
      margin-bottom: 30px;
    }
    p {
      column-count: 2;
      column-gap: 20px;
      color: 16px;
    }
  }
}

.artist-buttons {
  display: flex;
  position: absolute;
  right: 70px; // same margin as navbar and title
  top: 15px;
  .btn-artist {
    margin-left: 20px;
    width: 180px;
    background: $lavander;
    &:hover {
      background: $aubergine;
    }
  }
}
