.container-artist-bio {
  display: flex;
  height: calc(100vh - 370px);
  min-height: 400px;
  align-items: center;

  .avatar {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 70px;
  }
  .bio {
    width: 100%;
    h2 {
      margin-bottom: 30px;
    }
    p {
      column-count: 2;
      column-gap: 20px;
      color: 16px;
    }
  }
}

.artist-btn-box {
  background-color: $light-warm-gray;
  color: $dark-gray;
  display: flex;
  justify-content: right;
  padding-right: 70px;
  cursor: pointer;
}

.artist-btn {
  background: #fff;
  color: #000;
  text-align: center;
  padding: 3px 35px;
  width: fit-content;
  min-width: 165px;
  border-radius: 5px;
  margin: 10px 0 5px 10px;
  &:hover {
    background: #0000006d;
    color: #fff;
  }
}

.artist-btn-message {
  background: #fff;
  color: #000;
  text-align: center;
  padding: 3px 10px;
  width: fit-content;
  border-radius: 5px;
  margin: 10px 0 5px 10px;
  &:hover {
    background: #0000006d;
    color: #fff;
  }
}

.artist-buttons {
  display: flex;
  position: absolute;
  right: 70px; // same margin as navbar and title
  top: 15px;
  .btn-artist {
    margin-left: 20px;
    width: 180px;
    background: $lavander;
    &:hover {
      background: $aubergine;
    }
  }
}

.artworks-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 50px;
}

.artwork-map-container {
  position: relative;
  display: flex;
  .artwork-map {
    width: 100%;
  }
}
