// Define variables for your color scheme
$aubergine-dark: #1C1723;
$aubergine-light: #584f68; // maybe change
$aubergine: #2D2639;
$lavander: #998DAE;
$gold: #D2BE05;
$warm-gray: #EBE8DF;
$pink: #FF0054;