// Define variables for your color scheme
$violet: #2D2639;
$violet-dark: #1C1723;
$violet-light: #584f68;
$warm-grey: #EBE8DF;
$light-gray: #F4F4F4;
$gray: #A6A6A6;
$blue: #3A8DFF;
$green: #4CAF50;
$yellow: #FFC107;
$red: #F44336;
$orange: #FF9800;
