<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="font-family: 'Goudy Bookletter 1911', 'Arial', sans-serif; padding: 20px 60px;">
    <h1>Welcome to Regal Art.</h1>
    <br><br>
    <p>
      Dear <%= "#{@user.first_name} #{@user.last_name}" %>, <br><br><br>
      Welcome to Regal Art, we're delighted to have you on board. <br>
      Regal Art is all about fostering connections between art enthusiasts like you and talented artists from around the world. Whether you're an art buyer seeking that perfect masterpiece or an artist eager to showcase your talent, our platform is designed to bring your artistic visions to life.
      Here's what you can expect from Regal Art: <br><br>

      1. Explore a World of Art: Discover a vast and diverse collection of artwork from emerging and established artists. From paintings to sculptures, you'll find a treasure trove of creativity waiting to be explored. <br>
      2. Connect with Artists: Connect directly with artists, learn about their inspirations, and even commission custom pieces that speak to your heart. <br>
      3. Personalized Experience: Our platform tailors recommendations based on your preferences, ensuring you're always discovering new, captivating art that resonates with you. <br>
      4. Art Events: Stay tuned for exclusive art exhibitions, virtual gallery tours, and art-related events that will immerse you in the art world. <br><br>

      You can access your account at any time by visiting <%= link_to "Regal Art", "#" %>. <br><br>

      We're excited to embark on this artistic journey with you and look forward to seeing your unique preferences and tastes shape your Regal Art experience. If you ever have questions or need assistance, our support team is here to help. <br>
      Thank you for choosing Regal Art as your artistic haven. We hope you enjoy your time with us. <br><br>

      Best regards, <br><br>

      The Regal Art Team
    </p>
  </body>
</html>
