.card-subscriber-group {
  display: flex;
  padding: 50px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  border: 3px solid $warm-gray;
  .stats {
    text-align: right;
  }
}

.card-all-subscriber-group {
  display: flex;
  background-color: $warm-gray;
  padding: 50px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  .stats {
    text-align: right;
  }
}
