<div class="artist-btn-box">
  <%= link_to "Add Canvas", new_canvas_path, class: "artist-btn" %>
</div>
<div class="container-m">
  <div class ="grid-artworks">
    <% @canvas.each do |canvas| %>
      <%= render "artworks/card_canvas", canvas: canvas %>
    <% end %>
  </div>
</div>
