<%= link_to user_path(artist), class: "artist-card" do %>
  <div class="artist-card-img">
    <%= cl_image_tag artist.avatar.key %>
  </div>
  <div class="text">
    <h2><%= artist.first_name %></h2>
    <p><%= artist.long_bio.truncate(300) %></p>
  </div>
<% end %>
