<%= link_to user_path(artist), class: "artist-card flip" do %>
  <div class="text">
    <h2><%= artist.first_name %></h2>
    <p><%= artist.long_bio %></p>
  </div>
  <div class="artist-card-img">
    <%= cl_image_tag artist.avatar.key %>
  </div>
<% end %>
