<div class="video-box">
  <%= video_tag("video_1.mp4", id: "video-background", controls: false, autoplay: true, muted: true, loop: true) %>
  <div class="video-card">
    <h2>Transcendence: Exploring the Boundaries of Reality</h2>
    <p>In this captivating artist project, the artist's unique vision comes to life with a compelling blend of creativity and skill. Drawing from personal experiences and a deep well of inspiration, the artist delves into the intricacies of human emotion and the human condition. Through a masterful use of color, texture, and form, the project immerses viewers in a world of raw and unfiltered expression. It's a testament to the artist's ability to distill complex ideas into visual storytelling, offering a profound and thought-provoking experience that lingers long after one has encountered their work.</p>
  </div>
</div>
