.grid-subscriptions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // grid-gap: 1rem;
  grid-gap: 30px; // For consistency with other pages
  margin: 0 auto;
}

.card-subscription {
  display: flex;
  width: 280px;
  height: 280px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  transition: 0.5s ease;
  &:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
}

.card-subscription .card-subscription-avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  &:hover {
    opacity: 0;
  }
}

.card-subscription .card-subscription-info {
  width: 100%;
  padding: 1rem;
}


// Responsive
@media (max-width: 960px) {
  .grid-subscriptions {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

  .card-subscription {
    width: 220px;
    height: 220px;
  }
}

@media (max-width: 720px) {
  .grid-subscriptions {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
  }
}

@media (max-width: 540px) {
  .grid-subscriptions {
    grid-template-columns: 1fr;
    grid-gap: 25px;
  }
}
