<div class="container-l">
  <h1>Events</h1>
   <div class="events-box">
  <% @events.each do |event| %>
    <div class="event-card">
      <img src="https://plus.unsplash.com/premium_photo-1664272436668-78437b92929e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
      <div class="text">
        <h4><%= event.title %></h4>
        <p>Special and cool</p>
        <%= link_to "More info", "#", class: "event-link" %>
      </div>
      <div class="white-button event-btn">Join</div>
    </div>
    <% end %>

    <% @events.each do |event| %>
    <div class="event-card-sm">
      <div class="text">
        <h4><%= event.title %></h4>
        <p>Special and cool</p>
        <%= link_to "More info", "#", class: "event-link" %>
      </div>
      <div class="white-button event-btn">Join</div>
    </div>
    <% end %>
    </div>
  </div>
