<div class="artist-btn-box">
  <%= link_to "Add Event", new_event_path, class: "artist-btn" %>
</div>
<div class="container-l">
  <div class="events-box">
  <% @events.each do |event| %>
        <%= render "events/editable_event_card", event: event %>
    <% end %>
  </div>
</div>
