.delete-btn {
  color: $white;
  font-size: 25px;
  z-index: 1;
  width: 375px;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  text-decoration: none;
}

.my-artist-name {
  display: flex;
  gap: 7px;
  justify-content: center;
  margin-top: 20px;
}

.edit-btn {
  color: $white;
  font-size: 25px;
  z-index: 1;
  width: 375px;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  text-decoration: none;
}

.event-icons {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.event-date {
  color: $gold !important;
}

.attendance-icon {
  color: $white;
  z-index: 1;
  font-size: 20px;
  width: 375px;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  padding: 12px;
  margin-right: 10px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  text-decoration: none;
  align-items: baseline;
  gap: 5px;
}
