<div class="container-l">
  <div class="dashboard-grid">
    <%= link_to edit_user_registration_path, class: "dashboard-card dashboard-button" do %>
      <h4>Profile</h4>
    <% end %>
    <%= link_to subscriptions_path, class: "dashboard-card dashboard-button" do %>
      <h4>Subscriptions</h4>
    <% end %>
    <%= link_to events_path, class: "dashboard-card dashboard-button" do %>
      <h4>My Events</h4>
    <% end %>
    <%= link_to conversations_path, class: "dashboard-card dashboard-button" do %>
      <h4>Conversations</h4>
    <% end %>
  </div>
</div>
