<div class="artist-btn-box">
  <%= link_to "View Profile", user_path(@artist), class: "artist-btn" %>
</div>
<div class="container-m">
  <h2>Avatar</h2>
  <h2>Banners</h2>
  <h2>Description</h2>
  <h2>Artworks</h2>
  <h2>Artwork-Maps</h2>
</div>
