<div class="artist-btn-box">
  <%= link_to "Add Subscriber Group", subscriber_groups_path, class: "artist-btn" %>
</div>
<div class="container-m">
  <div class="growth-rate-box">
    <div class="growth-rate">
      <p><i class="fa-regular fa-user"></i></p>
      <h3><%= @received_subscriptions.count %></h3>
      <p>All Subscribers</p>
    </div>
    <div class="growth-rate">
      <p><i class="fa-solid fa-chart-line"></i></p>
      <h3><%= @subscribers_last_month %></h3>
      <p>New Subscribers (30 days)</p>
    </div>
  </div>
  <% @groups.each do |group| %>
    <%= render "subscriber_groups/card_subscriber_group", group: group %>
  <% end %>
</div>
