.container-devise h2 {
  color: black;
  text-align: center;
  font-family: $body-font;
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container-devise .devise-inputs {
  color: black;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
