<div class="container-m">
  <div class ="grid-subscriptions">
    <% current_user.subscriptions.each do |subscription| %>
      <%= render "subscriptions/card_subscription", subscription: subscription %>
    <% end %>
  </div>
</div>
