.button {
  width: fit-content;
  height: 35px;
  flex-shrink: 0;
  border-radius: 50px;
  border: none;
  background: $aubergine;
  color: #fff !important;
  text-align: center;
  padding: 5px 35px;
  transition: 0.5s ease;
  &:hover {
    background: $lavander;
  }
  a {
    color: #fff;
  }
}

.white-button {
  width: fit-content !important;
  height: 35px;
  border-radius: 50px;
  background: #fff;
  color: $aubergine !important;
  text-align: center;
  padding: 5px 35px;
  border: 1px solid $lavander;
  transition: 0.5s ease;
  &:hover {
    background: $lavander;
  }
}

.join-btn {
  width: fit-content !important;
  height: 35px;
  border-radius: 50px;
  background: $lavander;
  color: $aubergine !important;
  text-align: center;
  padding: 5px 35px;
  border: 1px solid $lavander;
  transition: 0.5s ease;
  pointer-events: none;
}

.style-button {
  width: 135px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 5px;
  border: none;
  background: #fff;
  color: $aubergine;
  text-align: center;
  padding: 12px;
  transition: 0.5s ease;
  &:hover {
    background: $lavander;
  }
}

.clicked {
  background: $lavander;
}

.button-devise {
  width: fit-content !important;
  height: 35px;
  flex-shrink: 0;
  border-radius: 50px;
  background: $aubergine;
  color: #fff !important;
  text-align: center;
  padding: 5px 35px;
  margin-top: 20px;
  transition: 0.5s ease;
  &:hover {
    background: $lavander;
  }
}

.white-marker {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);;
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.6);
  border: 1px solid $white;
  transition: 0.5s ease;
  &:hover {
    background-color: rgba($aubergine-dark, 0.6);
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 1);
    transform: scale(1.2);
  }
}
