.button {
  width: fit-content;
  height: 35px;
  flex-shrink: 0;
  border-radius: 50px;
  border: none;
  background: $aubergine;
  color: #fff !important;
  text-align: center;
  padding: 5px 35px;
  transition: 0.5s ease;
  border: none !important;
  &:hover {
    background: $lavander;
  }
  a {
    color: #fff;
  }
}

.white-button {
  width: fit-content !important;
  height: 35px;
  border-radius: 50px;
  background: #fff;
  color: $aubergine !important;
  text-align: center;
  padding: 5px 35px;
  border: 1px solid $lavander;
  transition: 0.5s ease;
  &:hover {
    background: $lavander;
  }
}

.join-btn {
  width: fit-content !important;
  height: 35px;
  border-radius: 50px;
  background: $lavander;
  color: $aubergine !important;
  text-align: center;
  padding: 5px 35px;
  border: 1px solid $lavander;
  transition: 0.5s ease;
  pointer-events: none;
}

.button-devise {
  width: fit-content !important;
  height: 35px;
  flex-shrink: 0;
  border-radius: 50px;
  background: $aubergine;
  color: #fff !important;
  text-align: center;
  padding: 5px 35px;
  margin-top: 20px;
  transition: 0.5s ease;
  &:hover {
    background: $lavander;
  }
}


.empty-marker {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.6);
  mix-blend-mode: difference;
  opacity: 0.08;
  &:hover {
    box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 1);
    transform: scale(1.2);
    mix-blend-mode: none;
    opacity: 1;
  }
}

.white-marker {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.6);
  mix-blend-mode: difference;
  border: 1px solid $white;
  transition: 0.5s ease;
  opacity: 0.8;
  transform: scale(1);
  animation: pulse 3s infinite;
  &:hover {
    box-shadow: 0px 0px 15px 3px rgba(255, 255, 255, 1);
    transform: scale(1.4);
    mix-blend-mode: none;
    border: 2px solid $aubergine-dark;
    background-color: white;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(0.95);
  }
}

// buttons in bar
.artist-btn-box {
  background-color: $light-warm-gray;
  color: $dark-gray;
  display: flex;
  justify-content: right;
  padding-right: 70px;
  height: 45px;
  align-items: center;
  cursor: pointer;
}

.artist-btn {
  background: #fff;
  color: #000;
  text-align: center;
  padding: 4px 35px !important;
  width: fit-content;
  min-width: 165px;
  border-radius: 5px;
  border: none;
  &:hover {
    background: #0000006d;
    color: #fff;
  }
}

.artist-btn-message {
  background: #fff;
  color: #000;
  text-align: center;
  padding: 3px 10px;
  width: fit-content;
  border-radius: 5px;
  margin: 10px 0 5px 10px;
  &:hover {
    background: #0000006d;
    color: #fff;
  }
}

// do we need that?
.artist-buttons {
  display: flex;
  position: absolute;
  right: 70px; // same margin as navbar and title
  top: 15px;
  .btn-artist {
    margin-left: 20px;
    width: 180px;
    background: $lavander;
    &:hover {
      background: $aubergine;
    }
  }
}

.warm-gray-btn {
  width: fit-content !important;
  height: 35px;
  border-radius: 50px;
  background: $warm-gray;
  color: $aubergine !important;
  text-align: center;
  padding: 5px 35px;
  border: none !important;
  transition: 0.5s ease;
  &:hover {
    background: $white;
    outline: 1px solid $dark-warm-gray !important;
  }

}
