// Event cards

.buyer-event-card {
  background-color: $lavander !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
  width: 375px;
  height: 500px;
  border-radius: 5px;
  transition: 0.5s ease;
  grid-column: auto / span 1;
  grid-row: auto / span 2;

  a {
    width: 100%;
    height: 100%;
  }

  p {
    color: white;
  }
  h4 {
    color: white;
  }
  img {
    width: 100% !important;
    height: 230px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
  }
  .text {
    padding: 30px;
    text-align: center;
    height: 180px;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

    h4 {
      color: $white;
    }

    p {
      color: $white;
    }
  }
}

.buyer-event-info {
  display: flex;
  justify-content: space-around;
}

.buyer-event-date {
  color: $aubergine !important;
}

.unjoin-event {
  position: absolute;
  color: $aubergine;
  width: 375px;
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  margin-top: 450px;
  font-size: 20px;

  a{
    color: $aubergine;
    &:hover
    {
      color: $dark-gray;
    }
  }
}

// Artist cards
.artist-card {
  height: 280px;
  width: 80%;
  display: flex;
  border-radius: 5px;
  background: $warm-gray;
  color: $dark-gray;
  margin: auto auto 60px 0;
  text-decoration: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.5s ease;
  overflow: hidden;
  .text {
    margin: 40px;
    p {
      padding-top: 10px;
    }
  }
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  &:hover .artist-card-img img {
    transform: scale(1.03)
  }
}

.artist-card .flip {
  .text {
    text-align: right;
}
}

.artist-card-img {
  width: 280px;
  height: 280px;
  overflow: hidden;
  flex-shrink: 0;
  img {
    width: 280px;
    height: 280px;
    transition: 5s ease;
    object-fit: cover;
  }
}

//Artwork cards
.artwork-card {
  max-width: 575px;
  height: 300px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: $aubergine;
  color: $white;
  transition: 0.5s ease;
  img {
    width: 300px;
    height: 300px;
    border-radius: 5px 0 0 5px;
    object-fit: cover;
  }
  .text {
    margin: 40px;
    width: 250px;
    p {
      padding-top: 10px;
    }
  }
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  &:hover .artist-card-img img {
    transform: scale(1.03)
  }
}

// Conversation cards
.conv-box {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
}

.conv-avatar {
  width: 120px;
  object-fit: cover;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  h2 {
    margin-right: 20px;
    font-size: 40px;
    // ROS I NEED STYLING HEEEEEEELP
  }
  img {
    border-radius: 5px;
  }
}

.conv-text {
  margin-left: 6px;
  padding: 15px;
  width: 100%;
  border-radius: 5px;
  background-color: $light-lavander;
  h5 {
    font-weight: 500;
    font-family: $body-font;
    margin-bottom: 5px;
  }
}

// Class to add to messages
.message-1 {
  h5 {
    font-weight: 500;
    font-family: $body-font;
    margin: 0 0 5px 10px;
  }
  p {
    background-color: $light-lavander;
    border-radius: 5px;
    padding: 10px;
    max-width: 400px;
  }
}

.message-2 {
  h5 {
    text-align: right;
    font-weight: 500;
    font-family: $body-font;
  }
  p {
    background-color: $warm-gray;
    border-radius: 5px;
    padding: 10px;
    max-width: 400px;
  }
}

// Artist profile page
.video-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto 30px auto;
  width: 100%;
  height: 450px;
  background-color: $dark-gray;
  padding: 50px;
  overflow: hidden;
  position: relative;
}

#video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.video-card {
  z-index: 1;
  border-radius: 2px;
  background-color: $white;
  width: 92%;
  height: 290px;
  padding: 40px;
  h2 {
    margin-bottom: 30px;
  }
  p {
    column-count: 2;
    column-gap: 20px;
  }
}
