// .event-sm {
//   width: 350px;
//   height: 500px;
//   border-radius: 5px;
//   background: $aubergine;
//   color: $white;
//   text-align: center;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   align-items: center;
// }

.event-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $aubergine;
  color: $white;
  width: 375px;
  height: 500px;
  border-radius: 5px;
  margin-bottom: 25px;

  img {
    width: 100%;
    height: 230px;
    object-fit: cover; /* or any custom size */
    border-radius: 5px 5px 0 0;
  }

  .text {
    padding: 30px;
    text-align: center;
    height: 180px;
  }

  .event-btn {
    align-items: center;
    margin-bottom: 30px;
  }

}

.event-card-sm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $aubergine;
  color: $white;
  width: 375px;
  height: 250px;
  border-radius: 5px;
  margin-bottom: 25px;

  img {
    width: 100%;
    height: 230px;
    object-fit: cover; /* or any custom size */
    border-radius: 5px 5px 0 0;
  }

  .text {
    padding: 30px;
    text-align: center;
    height: 180px;
  }

  .event-btn {
    align-items: center;
    margin-bottom: 30px;
  }

}

.event-link {
  color: $gold;
  text-decoration: none;
  font-weight: 500;
  &:hover {
    color: $white;
    text-decoration: none;
  }
}



// .event-lg {
//   width: 600px;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   border-radius: 5px;
//   background: $aubergine;
//   .event-lg img {
//     width: 400px;
//     text-align: right;
//   }
// }

// .artpiece-sm-minimal {
//   width: 260px;
//   height: 305px;
//   flex-shrink: 0;
//   border-radius: 5px;
//   background: $aubergine;
//   .artpiece-sm-minimal img {
//     width: 100%;
//     height: 100%;
//     border-radius: 5px;
//   }
// }

.artist-card {
  width: 1000px;
  height: 280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
  background: $warm-gray;
  color: $black;
  margin-bottom: 20px;
}

.artist-card img {
  width: 280px;
  height: 280px;
  border-radius: 5px 0 0 5px;
  object-fit: contain;
}

.artist-card-text {
  margin: 40px;
  p {
    padding-top: 10px;
  }
}
