.carousel-box {
  margin: 40px auto;
  width: 100%;
}

.carousel-container-nb {
  height: 600px;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.slide-nb {
  // display: none;
  margin: 0 auto;
  opacity: 0;
  transition: opacity 1s ease;
  position: absolute;
  img {
    object-fit: contain;
  }
}

.active {
  // display: block;
  opacity: 1;
}

.carousel-btns {
  position: relative;
  top: -300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  z-index: 10;
  button {
    color: #00000070;
    background: none;
    border: none;
    &:hover {
      color: #000000;
    }
  }
}


// Responsive
@media (max-width: 540px) {
  .carousel-container-nb {
    width: 100%;
    height: 400px;
  }
  .carousel-btns {
    top: -200px;
  }
}

@media (max-width: 960px) {
  .carousel-container-nb {
    width: 100%;
    height: 500px;
  }
  .carousel-btns {
    top: -250px;
  }
}
