.container-s {
  width: 600px !important;
  margin: 0 auto;
  padding: 20px 0;
}

.container-m {
  width: 900px !important;
  margin: 0 auto;
  padding: 20px 0;
}

.container-l {
  width: 1200px !important;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}

.devise-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 100vh;
}
