.container-s {
  width: 40vw;
  margin: 0 auto;
  padding: 50px 0;
  min-height: calc(100vh - 423px);
  display: flex;
  flex-direction: column;
}

.container-m {
  width: 62vw;
  margin: 0 auto;
  padding: 50px 0;
  min-height: calc(100vh - 423px);
  display: flex;
  flex-direction: column;
}

.container-l {
  width: 84vw;
  margin: 0 auto;
  padding: 50px 0;
  min-height: calc(100vh - 423px);
  display: flex;
  flex-direction: column;
}

.container-full {
  width: 100vw;
  margin: 0 auto;
  z-index: 1;
  position: relative;
}

.banner-aubergine {
  background-color: $aubergine-dark;
  padding: 60px 0;
}

// For Devise
.devise-flex {
  background: linear-gradient(90deg, #000 0%, #2D2639 100%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
}
