.container-s {
  width: 600px !important;
  margin: 0 auto;
  padding: 20px 0;
}

.container-m {
  width: 900px !important;
  margin: 0 auto;
  padding: 20px 0;
}

.container-l {
  width: 1200px !important;
  margin: 0 auto;
  padding: 20px 0;
}

.container-devise {
  padding: 60px 100px;
  background-color: $warm-gray;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: 200px;
}
