.navbar {
  width: 100%;
  height: 300px;
  padding: 40px 70px 8px 70px;
  background: no-repeat;
  background-size: cover;
}

.navbar-top {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  height: 90px;
}

.navbar-logo {
  color: #a69f89;
  font-size: 14px;
  line-height: 16px;
  img {
    width: 130px;
    margin-bottom: 14px;
  }
}

.navbar-heading {
  color: #fff;
  text-align: right;
  bottom: 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  width: fit-content;
  h1 {
    margin: 0;
  }
}


.navbar-bar {
  background-color: #000;
  width: 550px;
  height: 40px;
}

.navbar-bar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0 50px;
  width: 100%;
  height: 100%;
}

.nav-item {
  a {
    padding-top: 10px !important;
    color: #fff;
    font-weight: normal;
    font-size: 16px;
    text-decoration: none;
      &:hover {
        color: $lavander-light;
        text-decoration: none;
      }
  }
}

.dropdown a {
    &:hover {
      color: $lavander-light;
      text-decoration: none;
    }
}

.dropdown-m {
  display: none;
  position: absolute;
  padding: 20px;
  background-color: $aubergine;
  min-width: 100px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  border-radius: 5px;
  margin-left: -50px;
  a {
    color: #fff;
    text-decoration: none;
    &:hover {
      color: $lavander-light;
      text-decoration: none;
    }
  }
}

.font-weight-bold {
  font-weight: 600 !important;
}


// artist
.navbar-bottom {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
}

.artist-nav-btn {
  background: #ffffff6d;
  color: #000;
  border-radius: 2px;
  text-align: center;
  padding: 2px 35px;
  width: fit-content;
  height: 30px;
  bottom: 0;
  font-weight: 500;
  margin: 10px 20px 0 0;
  cursor: pointer;
  &:hover {
    background: #fff;
  }
}


// Responsive
@media (max-width: 960px) {
  .navbar {
    width: 100%;
    height: 250px;
  }
}

@media (max-width: 540px) {
  .navbar {
    width: 100%;
    height: 140px;
    padding: 25px;
  }

  .navbar-top {
    height: 70px;
    padding-right: 20px;
    display: flex;
  }

  .navbar-logo {
    img {
      width: 90px;
    }
  }

  .navbar-bar {
    visibility: hidden;
    max-width: 300px;
    text-align: right;
    ul {
      padding: 0;
    }
  }

  .dropdown {
    visibility: visible !important;
    i {
      font-size: 21px;
    }
  }

  .dropdown-m {
    padding: 10px;
    min-width: 80px;
    margin-left: -90px;
    font-size: 14px;
  }
}
